# Ignore Visual Studio temporary files
.vs/
**/.vs

# Ignore node_modules directory
node_modules/

# Ignore obj folders in all projects
**/obj/

# Ignore bin folders in all projects
**/bin/
**/Debug/
ContentPatcherMods/
/Content Patcher Mods
/FrenshipRings/obj/Debug/
/DeepSea/bin/Debug/net6.0/DeepSea 1.0.0.zip
/FrenshipRings/obj/Debug/
/FrenshipRings/bin/
/DeepSea/bin/
/DeepSea/obj/Debug/
/DeepSea/obj/Debug/net6.0/
/DeepSea/bin/Debug/net6.0/DeepSea.dll
/DeepSea/obj/Debug/net6.0/DeepSea.csproj.CoreCompileInputs.cache
/DeepSea/obj/Debug/net6.0/DeepSea.dll
/DeepSea/obj/Debug/net6.0/DeepSea.sourcelink.json
/HorseReskin/bin/Debug/net6.0/HorseReskin 1.0.0.zip
/HorseReskin/bin/Debug/net6.0/HorseReskin.dll
/HorseReskin/obj/Debug/net6.0/HorseReskin.csproj.CoreCompileInputs.cache
/HorseReskin/obj/Debug/net6.0/HorseReskin.dll
/HorseReskin/obj/Debug/net6.0/HorseReskin.sourcelink.json
/WalkToTheDesert/bin/Debug/net6.0/WalkToTheDesert.dll
/WalkToTheDesert/obj/Debug/net6.0/WalkToTheDesert.csproj.CoreCompileInputs.cache
/WalkToTheDesert/obj/Debug/net6.0/WalkToTheDesert.dll
/WalkToTheDesert/obj/Debug/net6.0/WalkToTheDesert.sourcelink.json
/BetterFruitTrees/obj/project.assets.json
/DeepSea/obj/DeepSea.csproj.nuget.g.props
/DeepSea/obj/project.assets.json
/DeepSea/obj/DeepSea.csproj.nuget.dgspec.json
/DeepSea/obj/Debug/net6.0/DeepSea.GeneratedMSBuildEditorConfig.editorconfig
/HorseReskin/obj/Debug/net6.0/HorseReskin.GeneratedMSBuildEditorConfig.editorconfig
/HorseReskin/obj/HorseReskin.csproj.nuget.g.props
/HorseReskin/obj/HorseReskin.csproj.nuget.dgspec.json
/HorseReskin/obj/project.assets.json
/WalkToTheDesert/obj/project.assets.json
/WalkToTheDesert/obj/Debug/net6.0/WalkToTheDesert.GeneratedMSBuildEditorConfig.editorconfig
/WalkToTheDesert/obj/WalkToTheDesert.csproj.nuget.dgspec.json
/WalkToTheDesert/obj/WalkToTheDesert.csproj.nuget.g.props
