# Ignore Visual Studio temporary files
.vs/
**/.vs

# Ignore node_modules directory
node_modules/

# Ignore obj folders in all projects
**/obj/

# Ignore bin folders in all projects
**/bin/
/BetterFruitTrees/obj/Debug/net6.0/BetterFruitTrees.AssemblyInfo.cs
/BetterFruitTrees/obj/Debug/net6.0/BetterFruitTrees.AssemblyInfoInputs.cache
/BetterFruitTrees/obj/Debug/net6.0/BetterFruitTrees.assets.cache
/BetterFruitTrees/obj/Debug/net6.0/BetterFruitTrees.csproj.AssemblyReference.cache
